.contentContainer {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
    height: calc(100vh - 5rem);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hero {
    max-width: 600px;

    >span {
        color: var(--gray-50);
        font-weight: bold;
        font-size: 1.5rem;
    }

    h1 {
        margin-top: 2.5rem;
        font-size: 4.5rem;
        line-height: 4.5rem;
        font-weight: 900;

        span {
            color: var(--cyan-500);
        }
    }

    p {
        margin-top: 2.5rem;
        font-weight: 400;
        line-height: 1.5;
        font-size: 1.5rem;
        margin-bottom: 2.5rem;

        span {
            font-weight: bold;
            color: var(--cyan-500);
        }
    }
}

@media (max-width: 640px) {

    .contentContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero {
        display: flex;
        flex-direction: column;

        button {
            align-self: center;
        }
    }
}